
Pillow==7.1.2
requests==2.27.1


numpy==1.21.5
# pycocotools-windows==2.0.0.2

opencv-python

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10.2+cu113
torchaudio==0.11.0+cu113
torchsummary==1.5.1
torchtext==0.12.0
torchvision==0.12.0+cu113